// SCSS 变量
$--color-primary: #409EFF;
$--color-success: #67C23A;
$--color-warning: #E6A23C;
$--color-danger: #F56C6C;
$--color-info: #909399;

// 侧边栏
$sideBarWidth: 210px;
$sideBarMinWidth: 54px;
$sideBarBg: #304156;
$sideBarText: #bfcbd9;
$sideBarActiveText: #409EFF;

// 头部
$headerHeight: 50px;
$headerBg: #fff;

// 标签
$tagHeight: 34px;
$tagBg: #fff;
